<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {# semantic UI #}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/semantic-ui") }}/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ asset("assets/semantic-ui") }}/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset("assets/style.css") }}">
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>

{% block header %}
{% include 'main/header.html.twig' %}
{% endblock %}

<body>
{% block body %}{% endblock %}
</body>

{% block footer %}
{% include 'main/footer.html.twig' %}
{% endblock %}
</html>
